<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>CounterPath</param-name>
        <param-value>count.txt</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.servlet.CountListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>com.servlet.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetPostData</servlet-name>
        <servlet-class>com.servlet.GetPostData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>multiChoice</servlet-name>
        <servlet-class>com.servlet.multiChoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfServlet</servlet-name>
        <servlet-class>com.servlet.pdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>com.servlet.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieTrackServlet</servlet-name>
        <servlet-class>com.servlet.CookieTrackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URLRewrite1</servlet-name>
        <servlet-class>com.servlet.URLRewrite1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URLRewrite2</servlet-name>
        <servlet-class>com.servlet.URLRewrite2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HitCounter</servlet-name>
        <servlet-class>com.servlet.HitCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>com.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catalog</servlet-name>
        <servlet-class>com.servelt.CatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catalog</servlet-name>
        <servlet-class>com.servlet.CatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookieservelt</servlet-name>
        <servlet-class>com.servlet.cookieservelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTemperatureServlet</servlet-name>
        <servlet-class>com.servlet.AdminTemperatureServlet</servlet-class>
        <init-param>
            <param-name>Temperature</param-name>
            <param-value>8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ShowTemperatureServlet</servlet-name>
        <servlet-class>com.servlet.ShowTemperatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>com.servlet.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSuccess</servlet-name>
        <servlet-class>com.servlet.LoginSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFail</servlet-name>
        <servlet-class>com.servlet.LoginFail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>counter</servlet-name>
        <servlet-class>com.servlet.counter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPostData</servlet-name>
        <url-pattern>/GetPostData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>multiChoice</servlet-name>
        <url-pattern>/multiChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfServlet</servlet-name>
        <url-pattern>/pdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieTrackServlet</servlet-name>
        <url-pattern>/cookietrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URLRewrite1</servlet-name>
        <url-pattern>/URL1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URLRewrite2</servlet-name>
        <url-pattern>/URL2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HitCounter</servlet-name>
        <url-pattern>/HitCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catalog</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catalog</servlet-name>
        <url-pattern>/CatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookieservelt</servlet-name>
        <url-pattern>/cookieservelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTemperatureServlet</servlet-name>
        <url-pattern>/adminTemperature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTemperatureServlet</servlet-name>
        <url-pattern>/showServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSuccess</servlet-name>
        <url-pattern>/LoginSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFail</servlet-name>
        <url-pattern>/LoginFail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>counter</servlet-name>
        <url-pattern>/counter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
