<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>contestPro</servlet-name>
        <servlet-class>com.servlet.contestPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProblemMod</servlet-name>
        <servlet-class>com.servlet.ProblemMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProblemAdd</servlet-name>
        <servlet-class>com.servlet.ProblemAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.servlet.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contestPro</servlet-name>
        <url-pattern>/contestPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProblemMod</servlet-name>
        <url-pattern>/ProblemMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProblemAdd</servlet-name>
        <url-pattern>/ProblemAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
